<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>platform</key>
		<string>ethereum</string>
		<key>projectUrl</key>
		<string>https://www.ethereum.org</string>
		<key>documentationUrl</key>
		<string>http://www.ethdocs.org/en/latest/</string>
		<key>frameworks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Truffle</string>
				<key>dependencies</key>
				<array>
					<dict>
						<key>name</key>
						<string>brew</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>brew -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installCommand-rem</key>
						<string>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</string>
						<key>updateCommand</key>
						<string>brew update</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>Brew is needed for installing npm</string>
						<key>url</key>
						<string>https://brew.sh</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>node</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>node -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>brew install node</string>
						<key>updateCommand</key>
						<string>brew upgrade node</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>node and npm are required by Truffle</string>
						<key>url</key>
						<string>https://nodejs.org/</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>truffle</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<true/>
						<key>versionCommand</key>
						<string>truffle version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm install -g truffle</string>
						<key>updateCommand</key>
						<string>npm update --save truffle</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated truffle</string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://truffleframework.com</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>solium</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>solium -V</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm install -g solium</string>
						<key>updateCommand</key>
						<string>npm update --save solium</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated tronbox</string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://github.com/duaraghav8/Ethlint</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Ganache.app</string>
						<key>defaultLocation</key>
						<string>/Applications</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>defaults read /Applications/Ganache.app/Contents/Info CFBundleShortVersionString</string>
						<key>versionRegex</key>
						<string></string>
						<key>installLink</key>
						<string>https://truffleframework.com/ganache</string>
						<key>updateCommand</key>
						<string></string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://truffleframework.com/ganache</string>
						<key>required</key>
						<true/>
					</dict>
				</array>
				<key>description</key>
				<string>A world class development environment, testing framework and asset pipeline for blockchains using the Ethereum Virtual Machine (EVM), aiming to make life as a developer easier.</string>
				<key>projectUrl</key>
				<string>https://truffleframework.com/truffle</string>
				<key>documentationUrl</key>
				<string>https://truffleframework.com/docs/truffle/overview</string>
				<key>defaultFramework</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Etherlime</string>
				<key>dependencies</key>
				<array>
					<dict>
						<key>name</key>
						<string>brew</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>brew -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installCommand-rem</key>
						<string>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</string>
						<key>updateCommand</key>
						<string>brew update</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>Brew is needed for installing npm</string>
						<key>url</key>
						<string>https://brew.sh</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>node</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>node -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>brew install node</string>
						<key>updateCommand</key>
						<string>brew upgrade node</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>node and npm are required by Truffle</string>
						<key>url</key>
						<string>https://nodejs.org/</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>etherlime</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<true/>
						<key>versionCommand</key>
						<string>etherlime --version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm i -g etherlime</string>
						<key>updateCommand</key>
						<string>npm -g update --save etherlime</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated etherlime</string>
						<key>comment</key>
						<string></string>
						<key>required</key>
						<true/>
					</dict>
				</array>
				<key>description</key>
				<string>Etherlime is an ethereum development and deployment framework based on ethers.js. This framework provides alternative to the other web3.js based frameworks and allows for ultimate control by the developer.</string>
				<key>projectUrl</key>
				<string>https://github.com/LimeChain/etherlime</string>
				<key>documentationUrl</key>
				<string>https://etherlime.readthedocs.io/en/latest/</string>
				<key>defaultFramework</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Celer</string>
				<key>dependencies</key>
				<array>
					<dict>
						<key>name</key>
						<string>brew</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>brew -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installCommand-rem</key>
						<string>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</string>
						<key>updateCommand</key>
						<string>brew update</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>Brew is needed for installing npm</string>
						<key>url</key>
						<string>https://brew.sh</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>node</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>node -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>brew install node</string>
						<key>updateCommand</key>
						<string>brew upgrade node</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>node and npm are required by Truffle</string>
						<key>url</key>
						<string>https://nodejs.org/</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>etherlime</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<true/>
						<key>versionCommand</key>
						<string>etherlime --version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm i -g etherlime</string>
						<key>updateCommand</key>
						<string>npm -g update --save etherlime</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated etherlime</string>
						<key>comment</key>
						<string></string>
						<key>required</key>
						<true/>
					</dict>
				</array>
				<key>description</key>
				<string>Etherlime is an ethereum development and deployment framework based on ethers.js. This framework provides alternative to the other web3.js based frameworks and allows for ultimate control by the developer.</string>
				<key>projectUrl</key>
				<string>https://github.com/LimeChain/etherlime</string>
				<key>documentationUrl</key>
				<string>https://etherlime.readthedocs.io/en/latest/</string>
				<key>defaultFramework</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>0x Instant</string>
				<key>dependencies</key>
				<array>
					<dict>
						<key>name</key>
						<string>brew</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>brew -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installCommand-rem</key>
						<string>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</string>
						<key>updateCommand</key>
						<string>brew update</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>Brew is needed for installing npm</string>
						<key>url</key>
						<string>https://brew.sh</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>node</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>node -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>brew install node</string>
						<key>updateCommand</key>
						<string>brew upgrade node</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>node and npm are required by Truffle</string>
						<key>url</key>
						<string>https://nodejs.org/</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>etherlime</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<true/>
						<key>versionCommand</key>
						<string>etherlime --version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm i -g etherlime</string>
						<key>updateCommand</key>
						<string>npm -g update --save etherlime</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated etherlime</string>
						<key>comment</key>
						<string></string>
						<key>required</key>
						<true/>
					</dict>
				</array>
				<key>description</key>
				<string>Etherlime is an ethereum development and deployment framework based on ethers.js. This framework provides alternative to the other web3.js based frameworks and allows for ultimate control by the developer.</string>
				<key>projectUrl</key>
				<string>https://github.com/LimeChain/etherlime</string>
				<key>documentationUrl</key>
				<string>https://etherlime.readthedocs.io/en/latest/</string>
				<key>defaultFramework</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platform</key>
		<string>tron</string>
		<key>projectUrl</key>
		<string>https://tron.network</string>
		<key>documentationUrl</key>
		<string>https://developers.tron.network</string>
		<key>frameworks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Tronbox</string>
				<key>dependencies</key>
				<array>
					<dict>
						<key>name</key>
						<string>brew</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>brew -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installCommand-rem</key>
						<string>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</string>
						<key>updateCommand</key>
						<string>brew update</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string>Brew is needed for installing npm</string>
						<key>url</key>
						<string>https://brew.sh</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>node</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin</string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>node -v</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>brew install node</string>
						<key>updateCommand</key>
						<string>brew upgrade node</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://nodejs.org/</string>
						<key>required</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>TronBox</string>
						<key>defaultLocation</key>
						<string>/usr/local/bin/</string>
						<key>isFrameworkVersion</key>
						<true/>
						<key>versionCommand</key>
						<string>tronbox version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string>npm install -g tronbox</string>
						<key>updateCommand</key>
						<string>npm -g update --save tronbox</string>
						<key>outdatedCommand</key>
						<string>npm -g outdated tronbox</string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://developers.tron.network/docs/tron-box-user-guide</string>
						<key>required</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Tron Docker</string>
						<key>defaultLocation</key>
						<string></string>
						<key>isFrameworkVersion</key>
						<false/>
						<key>versionCommand</key>
						<string>solium --version</string>
						<key>versionRegex</key>
						<string></string>
						<key>installCommand</key>
						<string></string>
						<key>installLink</key>
						<string>https://developers.tron.network/docs/getting-started-1</string>
						<key>updateCommand</key>
						<string>npm -g update --save solium</string>
						<key>outdatedCommand</key>
						<string></string>
						<key>comment</key>
						<string></string>
						<key>url</key>
						<string>https://developers.tron.network/docs/getting-started-1</string>
						<key>required</key>
						<false/>
					</dict>
				</array>
				<key>description</key>
				<string>TRON is an ambitious project dedicated to the establishment of a truly decentralized Internet and its infrastructure. The TRON Protocol, one of the largest blockchain based operating systems in the world, offers base public blockchain support of high throughput, high scalability, and high availability for all decentralized applications in the TRON ecosystem.</string>
				<key>projectUrl</key>
				<string>https://tron.network</string>
				<key>documentationUrl</key>
				<string>https://developers.tron.network</string>
				<key>defaultFramework</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
