<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Empty</string>
		<key>command</key>
		<string></string>
		<key>templates</key>
		<array>
			<dict>
				<key>name</key>
				<string>Empty Project</string>
				<key>templateName</key>
				<string>empty</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Empty Zilliqa project</string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>Empty.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Examples</string>
		<key>command</key>
		<string></string>
		<key>templates</key>
		<array>
			<dict>
				<key>name</key>
				<string>Hello, World</string>
				<key>templateName</key>
				<string>helloworld</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Simple example that stores text on the blockchain.</string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>HelloWorld.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Book Store</string>
				<key>templateName</key>
				<string>bookstore</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Bookstore allows members to manage a shared repository of books. Bookstore has an owner, who can add members in.</string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>BookStore.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Crowd Funding</string>
				<key>templateName</key>
				<string>crowdfunding</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Crowdfunding ICO example.</string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>CrowdFunding.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Auction</string>
				<key>templateName</key>
				<string>auction</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>Auction.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Fungible Token</string>
				<key>templateName</key>
				<string>fungibletoken</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Based on the ERC-20 standard, a technical standard used for smart contracts for implementing tokens.</string>
				<key>moreInfoUrl</key>
				<string>https://github.com/ethereum/eips/issues/20</string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>FungibleToken.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Non-fungible Token</string>
				<key>templateName</key>
				<string>nonfungibletoken</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string>ERC-721</string>
				<key>description</key>
				<string>A special type of cryptographic token which represents something unique; non-fungible tokens are thus not interchangeable.</string>
				<key>moreInfoUrl</key>
				<string>https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md</string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>NonFungible.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Zil Game</string>
				<key>templateName</key>
				<string>zilgame</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>ZilGame.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Schnorr Test</string>
				<key>templateName</key>
				<string>schnorrtest</string>
				<key>imageName</key>
				<string></string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>Example how to use Schnorr signatures. Schnorr signatures are used to compress transactions.</string>
				<key>moreInfoUrl</key>
				<string></string>
				<key>openFile</key>
				<string>contracts/$(PROJECT_NAME).scilla</string>
				<key>detailViewType</key>
				<string></string>
				<key>initType</key>
				<string>initTemplate</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>SchnorrTest.scilla</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
